
@{
    ViewData["Title"] = "Notification";
    Layout = "_Layout";
}

@model ProjectSP.Employee;

<p>Welcome @Model.Name</p>
<p>Your salary is @Model.Salary</p>
<p>Your total salary is @ViewBag.totalSalary</p>

